body {
  background-color: #313131;
}
h1 {
  color: white;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

h2 {
  color: white;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  font-weight: normal;
}

h3 {
  color: white;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

p {
  color: white;

  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

.action {
  text-decoration: underline;
}

label {
  color: white;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

.header {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.8em;
}

.mainContent {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

.sideBar {
  margin: 0.5em;
  padding: 0.8em;
  border: 0.1em;
  border-style: solid;
  border-color: white;
  border-radius: 0.8em;
}

.artSection {
  margin: 0.5em;
  padding: 0.8em;
  padding-left: 0.8em;
  border: 0.1em;
  border-style: solid;
  border-color: white;
  border-radius: 0.8em;
  padding-top: em;
  padding-bottom: em;
}

.textSection {
  margin: 0.5em;
  padding: 0.8em;
  padding-left: 0.8em;
  padding-top: em;
  padding-bottom: em;
}
.textSection p {
  padding-left: 0.8em;
}

.buttons {
  margin-left: 0.5em;
  padding: 0.8em;
  padding-top: 0.5em;
  padding-bottom: 0.8em;
  padding-left: 0.8em;
}

.mainBar {
  margin: 0.5em;
  padding: 0.8em;
  border: 0.1em;
  border-style: solid;
  border-color: white;
  border-radius: 0.8em;
}
